{%extends 'basic.html'%}
{% block body%}

<!--card starts here -->
<section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-4">
                <div class="card" style="border-radius: 10px;">
                    <div class="bg-image ripple" data-mdb-ripple-color="light" style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-weather/draw2.webp" class="w-100" />
                        <div class="mask" style="background-color: rgba(0,0,0,.45)">
                            <div class="d-flex justify-content-center p-4 text-center">
                                <ul class="list-unstyled">
                                    <li class="nav-item h4 mb-3 "><a class="nav-link active text-white " href="#">Home</a></li>
                                    <li class="nav-item h4 mb-3"><a class="nav-link active text-white " href="#">Login In</a></li>
                                    <li class="nav-item h4 mb-3"><a class="nav-link active text-white " href="#">Register</a></li>
                                    <li class="nav-item h4 mb-3"><a class="nav-link active text-white " href="#">Add Todo</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--card ends here -->
{%endblock%}